.success-container{
    background-color: #fff;
    min-height: 35vh;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 10px;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
}
.success-heading{
    color: #42855B;
    font-family: 'Roboto', sans-serif;
}
.update-intial{
    color: #90B77D;
    font-family: 'Roboto', sans-serif;
}