.heading{
    font-family: 'Roboto', sans-serif;
    color: #15443d;
    font-size: 80px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
.join-community{
    font-family: 'Roboto', sans-serif;
    color: #77938e;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.signup-here{
    font-family: 'Roboto', sans-serif;
    color: #406660;
    font-size: 25px;

}